html{
    width: 100vw;
    height: 100vh;
    background-color: #495d63;
    color: #d3d3d3;
}
body>div{
    width: 99vw;
    height:99vh;
    text-align:center;
    margin: 0 auto;
    display:table-cell;
    vertical-align:middle;
    position: relative;
}
h2{
    margin-bottom:20px;
}



button{
    color:#d3d3d3;
}